<!doctype html>
<html class="theme-dark theme-font">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SecurityFirst CTF 2021</title>
        <!---->
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/controls.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-content">
                <div class="navbar-item-title secu-title-s">
                    <a class="navbar-link-logo" href="/">SECURITYFIRST</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="/notice">NOTICE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="/ranking">SCOREBOARD</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="/chall">CHALLENGE</a>
                </div>
                <div class="navbar-item navbar-item-profile">
                    <a class="navbar-link navbar-link-active" href="/profile">PROFILE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="/logout">LOGOUT</a>
                </div>
                <% if (sess.users.mem_type == "Admin") { %>
                <div class="navbar-item">
                    <a class="navbar-link" href="/kingkingsecu">ADMIN</a>
                </div>
                <% } %>
            </div>
        </div>
        <div id="ingame-root">
            <div class="ingame-content">
                <div class="profile-main-container">
                    <div class="profile-main-item">
                        <div class="profile-main-item-title">
                            PROFILE
                        </div>
                    </div>
                    <div class="profile-main-item">
                        <div class="profile-info-container">
                            <div class="profile-info-item">
                                <div class="profile-info-item-name">
                                    <%=sess.users.nickname%>
                                </div>
                            </div>
                            <div class="profile-info-item">
                                <div class="profile-info-item-ranking
                                <% if (rank == 1) { %>
                                    profile-info-item-ranking-first
                                <% } else if (rank == 2) { %>
                                    profile-info-item-ranking-second
                                <% } else if (rank == 3) { %>
                                    profile-info-item-ranking-third
                                <% } %>
                                ">
                                    <%=rank%>위
                                </div>
                            </div>
                            <div class="profile-info-item">
                                <div class="profile-info-item-prob">
                                    <span>SOLVE</span>
                                    <span><%=score.solved_num%></span>
                                    <hr class="profile-info-item-prob-divider-v divider" />
                                    <span>SCORE</span>
                                    <span><%=score.uscore%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-prob-container">
                    <div class="profile-prob-item profile-prob-item-caption">
                        <div class="profile-prob-item-type">
                            <p>분야</p>
                        </div>
                        <hr class="profile-prob-item-divider-v divider" />
                        <div class="profile-prob-item-point">
                            <p>점수</p>
                        </div>
                        <hr class="profile-prob-item-divider-v divider" />
                        <div class="profile-prob-item-name">
                            <p>문제이름</p>
                        </div>
                        <hr class="profile-prob-item-divider-v divider" />
                        <div class="profile-prob-item-date">
                            <p>풀이시간</p>
                        </div>
                    </div>
                    <% for (let i=0; i<solverInfo.length; i++) { %>
                        <% for (let j=0; j<challInfo.length; j++) { %>
                            <% if (solverInfo[i].puid == challInfo[j].puid) { %>
                                <div class="profile-prob-item">
                                    <div class="profile-prob-item-type">
                                        <p><%=challInfo[j].prob_type%></p>
                                    </div>
                                    <hr class="profile-prob-item-divider-v divider" />
                                    <div class="profile-prob-item-point">
                                        <p><%=challInfo[j].pscore%></p>
                                    </div>
                                    <hr class="profile-prob-item-divider-v divider" />
                                    <div class="profile-prob-item-name">
                                        <p><%=challInfo[j].pname%></p>
                                    </div>
                                    <hr class="profile-prob-item-divider-v divider" />
                                    <div class="profile-prob-item-date">
                                        <p><%=solverInfo[i].solved_at.toString().replace('GMT+0900 (대한민국 표준시)', '')%></p>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>